[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
click = "*"
pandas-profiling = "*"
xlrd = "*"
google-cloud-storage = "*"
python-dotenv = "*"
csvkit = "*"
cookiecutter = "*"
boto3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
